<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="initial-scale=0.7, width=device-width" />
        <title>翡翠週刊產生器</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.5.0/croppie.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.5.0/croppie.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/exif-js/2.1.1/exif.min.js"></script>
        <style>
          body {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          a {
            text-decoration: none;
          }
          a:link, a:visited, a:active {
            color: #1687ED;
          }
          .parent {
            position: relative;
          }
          .container {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          .mask {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 400px;
            height: 554px;
          }
          .fileupload {
            width: 95%;
            max-width: 433px;
            margin: 1rem 0 1rem 0;
            padding: 1rem 0 1rem 0;
            border: 1px dashed darkgrey;
            color: darkgrey;
            cursor: pointer;
            text-align: center;
          }
          .cr-boundary {
            margin: 0 !important;
          }
          .cr-slider-wrap {
            width: auto !important;
            text-align: center !important;
          }
          .croppie-container {
            height: auto !important;
          }
          .button {
            cursor: pointer;
            outline: none;
            width: 95%;
            max-width: 400px;
            font-size: 1rem;
            border: 1px solid darkgrey;
            color: darkgrey;
            background: #fff;
            padding: 1rem 0 1rem 0;
          }
        </style>
    </head>
    <body>
        <div class="container">
            <div id="file" class="fileupload">
                圖片上傳...
            </div>
            <div style="margin-bottom: 1rem">
                縮放：手機雙指、桌機滑鼠滾輪
            </div>
          <div class="parent">
            <div id="root"></div>
          </div>
        </div>
        <button id="download" class="button">下載</button>
        <div style="margin: 1rem">
            圖源及出處：<a href="https://www.facebook.com/kyanos.sky/posts/10155549152803839" target="_blank">FB 貼文</a>
        </div>
        <a href="https://github.com/tpai/emerald-generator" target="_blank" style="margin: 1rem">
            <img src="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/svg/mark-github.svg" />
        </a>
        <img id="result" src="" style="display: none" />
        <img id="cover" src="./cover.png" style="display: none" />
        <canvas id="canvas" style="display: none"></canvas>
        <script src="{{{ script.vendor }}}"></script>
        <script src="{{{ script.bundle }}}"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', '{{{ ga }}}', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>
